<style>
    .completed {
        color : red;
        text-decoration : line-through;
        font-style : italic;
        font-weight : bold;
    }
</style>
<h1>{{title}}</h1>
<hr>
<ol>
    {{#each list}}
        <li>
            {{#if this.isCompleted}}
                <span class='completed'>{{this.name}}</span>
            {{else}}
                <span>{{this.name}}</span>
            {{/if}}
            <a href="/tasks/toggle/{{id}}"> X </a>
        </li>

    {{/each}}
</ol>
<a href="/tasks/new">Create New</a>
